<!-- Footer -->
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <f:if condition="{settings.logo}">
                    <f:then>
                        <f:link.page pageUid="{settings.rootpage}" title="NITSAN" class="page-footer__logo">
                            <f:image src="{settings.logo}" class="logo" alt="NITSAN" title="NITSAN" />
                        </f:link.page>
                    </f:then>
                    <f:else>
                        <f:link.page pageUid="{settings.rootpage}" title="NITSAN" class="page-footer__logo">
                            <span>NITSAN</span>
                        </f:link.page>
                    </f:else>
                </f:if>
            </div>
            <div class="col-md-4">
                <f:if condition="{FooterMenu}">
                    <ul class="page-footer__menu">
                        <f:render section="FooterMenu" arguments="{FooterMenu: FooterMenu}" />
                    </ul>
                </f:if>
            </div>
            <div class="col-md-4">
                <ul class="page-footer__social d-flex">
                    <f:if condition="{settings.childSettings.seo_facebook_link}">
                        <li>
                            <a href="{settings.childSettings.seo_facebook_link}" target="_blank" rel="noreferrer" title="facebook" >
                                <svg viewBox="0 0 9.732 19.461" xmlns="http://www.w3.org/2000/svg" width="10" height="20"><path fill="#000000" d="M7.955 3.231h1.777V.137A22.942 22.942 0 007.143 0C4.582 0 2.827 1.611 2.827 4.573V7.3H0v3.459h2.827v8.7h3.466v-8.7h2.712L9.436 7.3H6.292V4.916c0-1 .27-1.684 1.663-1.684z" data-name="facebook (2)"/></svg>
                            </a>
                        </li>
                    </f:if>
                    <f:if condition="{settings.childSettings.seo_twitter_link}">
                        <li>
                            <a href="{settings.childSettings.seo_twitter_link}" target="_blank" rel="noreferrer" title="twitter" >
                                <svg viewBox="0 0 1226.37 1226.37" width="20" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M727.348 519.284L1174.075 0h-105.86L680.322 450.887 370.513 0H13.185l468.492 681.821L13.185 1226.37h105.866l409.625-476.152 327.181 476.152h357.328L727.322 519.284zM582.35 687.828l-47.468-67.894-377.686-540.24H319.8l304.797 435.991 47.468 67.894 396.2 566.721H905.661L582.35 687.854z"/></svg>
                            </a>
                        </li>
                    </f:if>
                    <f:if condition="{settings.childSettings.seo_linkedin_link}">
                        <li>
                            <a href="{settings.childSettings.seo_linkedin_link}" target="_blank" rel="noreferrer" title="Linkedin" >
                                <svg viewBox="0 0 18.615 18.616" width="20" height="20" xmlns="http://www.w3.org/2000/svg"><path fill="#000000" d="M18.61 18.616v-6.828c0-3.34-.719-5.913-4.624-5.913a4.053 4.053 0 00-3.651 2.007h-.054V6.187h-3.7v12.428h3.855v-6.154c0-1.62.307-3.187 2.314-3.187 1.977 0 2.007 1.849 2.007 3.291v6.051z" data-name="Path 15110"/><path fill="#000000" d="M.311 6.187h3.86v12.428H.311z" data-name="Path 15111"/><path fill="#000000" d="M2.235 0a2.246 2.246 0 102.236 2.235A2.236 2.236 0 002.235 0z" data-name="Path 15112"/></svg>
                            </a>
                        </li>
                    </f:if>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center mt-3">
                <f:cObject typoscriptObjectPath="lib.copyright" />
            </div>
        </div>
    </div>
</footer>

<f:if condition="{settings.childSettings.back_to_top}">
    <a href="javascript:;" class="goto-top">
        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="20" viewBox="0 0 9.515 5.605"><path d="M2070.667,110.667,2075,115l-4.333,4.333" transform="translate(-110.242 2075.848) rotate(-90)" fill="none" stroke="#fff" stroke-width="1.2"/></svg>
    </a>
</f:if>

<f:section name="FooterMenu">
    <f:if condition="{FooterMenu}">
        <f:for each="{FooterMenu}" as="item">
            <f:if condition="{item.spacer}">
                <f:then>
                    </ul>
                    <ul class="navbar-nav">
                </f:then>
                <f:else>
                    <li><a href="{item.link}" id="nav-item-{item.data.uid}">{item.title}</a></li>
                </f:else>
            </f:if>
        </f:for>
    </f:if>
</f:section>
