<header class="page-header">
    <div class="container-fluid">
        <div class="header-main">
            <div class="brand-logo">
                <f:if condition="{settings.logo}">
                    <f:then>
                        <f:link.page pageUid="{settings.rootpage}" title="NITSAN">
                            <f:image src="{settings.logo}" class="logo" alt="NITSAN" title="NITSAN" />
                        </f:link.page>
                    </f:then>
                    <f:else>
                        <f:link.page pageUid="{settings.rootpage}" title="NITSAN">
                            <span>NITSAN</span>
                        </f:link.page>
                    </f:else>
                </f:if>
            </div>
            <div class='header-nav'>
                <div class="navigation">
                    <nav>
                        <f:render section="MainMenu" arguments="{MainMenu: MainMenu}" />
                    </nav>
                </div>
                <div class='page-header__actions'>
                    <div class="page-header__search">
                        <svg viewBox="0 0 28.455 28.455"><path fill="#23234b" d="M27.761 24.408l-6.02-6.02a11.879 11.879 0 10-3.353 3.353l6.02 6.02a2.371 2.371 0 003.353-3.353M3.557 11.857a8.3 8.3 0 118.3 8.3 8.309 8.309 0 01-8.3-8.3" /></svg>
                    </div>
                    <div class="page-header__language" id="languageFeature">
                        <a href="javascript:;" class="page-header__lang-trigger">
                            <svg viewBox="0 0 34.555 33"><path fill="#23234b" d="M28.117 13.776h-5.938a6.468 6.468 0 00.076-.99V6.439a6.446 6.446 0 00-6.438-6.44H6.439A6.446 6.446 0 000 6.439v6.347a6.446 6.446 0 006.439 6.439h5.939a6.413 6.413 0 00-.078.99v6.347a6.446 6.446 0 006.438 6.437h9.378a6.446 6.446 0 006.439-6.439v-6.346a6.446 6.446 0 00-6.439-6.439m-26.729-.99V6.439a5.057 5.057 0 015.052-5.051h9.378a5.057 5.057 0 015.051 5.051v6.347a5.057 5.057 0 01-5.051 5.051H6.439a5.057 5.057 0 01-5.051-5.051m27.249 8.988h-1.691a10.47 10.47 0 01-2.5 4.4 10.8 10.8 0 001.908 1.225l.944.474a.694.694 0 11-.623 1.24l-.944-.474a12.154 12.154 0 01-2.307-1.5 12.088 12.088 0 01-2.3 1.5l-.944.474a.694.694 0 11-.623-1.24l.943-.474a10.728 10.728 0 001.9-1.22 10.756 10.756 0 01-1.752-2.484.694.694 0 111.236-.63 9.366 9.366 0 001.536 2.174 9.145 9.145 0 002.08-3.465h-7.282a.694.694 0 010-1.388h4.516v-2.1a.694.694 0 011.388 0v2.1h4.516a.694.694 0 010 1.388z" data-name="Pfad 8097"></path><path fill="#23234b" d="M12.374 5.885a1.3 1.3 0 00-2.483 0l-3 7.41a.694.694 0 001.287.52l1.123-2.778h3.654l1.119 2.777a.694.694 0 101.288-.516zM9.866 9.649l1.266-3.132 1.266 3.132z" data-name="Pfad 8098"></path></svg>
                        </a>
                        <f:if condition="{languages}">
                            <div class="page-header__language-ddr">
                                <ul>
                                    <f:for each='{languages}' as='item'>
                                        <f:if condition="{item.available}">
                                            <li><a class="{f:if(condition: '{item.active}', then: 'active')}"><span>{item.twoLetterIsoCode}</span></a></li>
                                        </f:if> 
                                    </f:for>
                                </ul>
                            </div>
                        </f:if>
                    </div>
                    <div id="menuTrigger" class="menu-trigger">
                        <div class="bars"></div>
                        <div class="bars"></div>
                        <div class="bars"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<f:section name="MainMenu">
    <f:if condition="{MainMenu}">
        <ul class="nav-items">
            <f:for each="{MainMenu}" as="item">
                <li
                    class="nav-item{f:if(condition: item.active, then:' active')}{f:if(condition: item.children, then:' has-sub')}">
                    <a href="{item.link}" id="nav-item-{item.data.uid}" {f:if(condition: item.target,
                        then: ' target="{item.target}"' )} title="{item.title}" {f:if(condition: item.children, then:'
                        aria-haspopup="true" aria-expanded="false"')}>
                        <span class="nav-link-text">{item.title}<f:if condition="{item.current}"><span class="visually-hidden">(current)</span></f:if></span>
                    </a>
                    <f:if condition="{item.children}">
                        <ul aria-labelledby="nav-item-{item.data.uid}" class="sub-menu sub-menu--second">
                            <f:for each="{item.children}" as="child">
                                <li class="nav-item-second {f:if(condition: child.children, then:' has-sub')} {f:if(condition:
                        child.active, then:' active')}">
                        <a href="{child.link}" class="{f:if(condition: child.active, then:' active')}" {f:if(condition:
                            child.target, then: ' target="{child.target}"' )} title="{child.title}"
                            id="nav-item-{child.data.uid}">
                            <span class="nav-link-text">{child.title}<f:if condition="{child.current}"> <span
                                        class="visually-hidden">(current)</span></f:if></span>
                        </a>
                        <f:if condition="{child.children}">
                            <ul aria-labelledby="nav-item-{child.data.uid}" class="sub-menu sub-menu--third">
                                <f:for each="{child.children}" as="childItem">
                                    <li class="{f:if(condition: childItem.active, then:' active')}">
                                        <a href="{childItem.link}"
                                            class="{f:if(condition: childItem.active, then:' active')}" {f:if(condition:
                                            child.target, then: ' target="{childItem.target}"' )}
                                            title="{childItem.title}">
                                            <span class="nav-link-text">{childItem.title}<f:if
                                                    condition="{childItem.current}"> <span
                                                        class="visually-hidden">(current)</span></f:if></span>
                                        </a>
                                    </li>
                                </f:for>
                            </ul>
                            <div class="nav-arrow"></div>
                        </f:if>
                </li>
            </f:for>
        </ul>
        <div class="nav-arrow"></div>
    </f:if>
    </li>
    </f:for>
    </ul>
    </f:if>
</f:section>