<f:layout name="Default" />

<f:section name="main">

	<!-- Render main content colpos=0 -->
    <f:cObject typoscriptObjectPath="lib.content"/>

    <div class="pt-5">
        <div class="p-5 mt-5 mb-4 bg-light rounded-3">
            <div class="container">
                <p>&nbsp;</p>
                <h2>{data.title}</h2>
                <hr>
                <h1>Welcome, EXT:ns_theme_child</h1>
                <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
                <p><a id="btnTest" class="btn btn-primary btn-lg" href="javascript:;" role="button">Learn more »</a></p>
            </div>
        </div>
    </div>

</f:section>
